{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DotaOnly.com --- {% trans "Dota2 Streaming Fusion and Match Analysis" %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

</head>
<body>

    <div class = "container">
        <div id = "divNav" class="row">
            <div class="col-md-6" id = "leftNavDiv">
                <button type="button" onclick = "window.location.href='/live'" class="btn btn-success btn-lg btn-block">{% trans "Dota Live" %}</button>
            </div>
            <div class="col-md-6" id = "rightNavDiv">
                <button type="button" class="btn btn-success btn-lg btn-block">{% trans "Dota Mining(Developing)" %}</button>
            </div>
        </div>
    </div>




<!-- js -->
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--google analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58108426-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>