{% extends "live_base.html" %}


{% block cssBlk %}
    <link rel="stylesheet" type="text/css" href="static/css/liveIdx.css" />
{% endblock %}

{% block panelOP %}
<div class="btn-group btn-group-xs" role="group" aria-label="...">
  <button id='streamBtn' type="button" class="btn btn-danger">Streaming</button>
  <button id='bookmarkBtn' type="button" class="btn btn-primary">Bookmarks</button>
</div>
{% endblock %}

{% block streamList %}

{% endblock %}




{% block streamContent %}

        <div id="streamTopLeft" class="streamContainerMain">
        </div>


        <!-- Where content to be added -->
        <!--


        <div id = "streamTopRight" class="streamContainer" >

            <iframe class="streamObj" src="http://www.twitch.tv/dendi/embed" frameborder="0" scrolling="no" height="50%" width="100%"></iframe>

        </div>

        <div id = "streamBtmLeft" class="streamContainer" >

            <iframe class="streamObj" width="100%" height="50%" src="http://www.zhanqi.tv/live/embed?roomId=12713" style="" frameborder="0" allowfullscreen="true"></iframe>

        </div>

        <div id = "streamBtmRight" class="streamContainer" >

            <iframe class="streamObj" height="50%" width="100%" src="http://www.huomaotv.com/index.php?c=outplayer&amp;live_id=881" frameborder="0" allowfullscreen="true"></iframe>

        </div>
        -->


{% endblock %}