{% extends "live_base.html" %}


{% block cssBlk %}
    <link rel="stylesheet" type="text/css" href="static/css/liveIdx.css" />
{% endblock %}

{% block panelOP %}
<div class="btn-group btn-group-xs" role="group" aria-label="...">
  <button id='streamBtn' type="button" class="btn btn-danger">Streaming</button>
  <button id='bookmarkBtn' type="button" class="btn btn-primary">Bookmarks</button>
</div>
{% endblock %}

{% block streamList %}

{% endblock %}




{% block streamContent %}

        <div id="streamTopLeft" class="streamContainerMain">
        </div>

{% endblock %}