{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to DotaOnly.com --- Dota2 match analysis and </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

</head>
<body>

    <div class = "container">
        <div id = "divNav" class="row">
            <div class="col-md-6" id = "leftNavDiv">
                <button type="button" onclick = "window.location.href='/live'" class="btn btn-success btn-lg btn-block">Dota Live</button>
            </div>
            <div class="col-md-6" id = "rightNavDiv">
                <button type="button" class="btn btn-success btn-lg btn-block">Dota Mining</button>
            </div>
        </div>
    </div>




<!-- js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>